<div class="ui modal" #modal>
    <i class="close icon"></i>
    <div class="header">
        <ng-content select="[modal-header]"></ng-content>
    </div>
    <div class="image content">
        <div class="image">
            An image can appear on left or an icon
        </div>
        <div class="description">
            A description can appear on the right
        </div>
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui button">OK</div>
    </div>
</div>

<!--<div class="ui modal {{class}}">
  <i class="close icon"></i>
  <div class="header">
    <ng-content selector="semui-modal-header"></ng-content>
  </div>
  <div class="content">
    <ng-content selector="semui-modal-content"></ng-content>
  </div>
  <div class="actions">
    <ng-content selector="semui-modal-actions"></ng-content>
  </div>
</div>-->